:root{
    --bullet-width: 220px;
}
.bullet{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: var(--bullet-width);
    padding:  15px 15px 0 15px;
    box-shadow: 0 0 2px #AAA;
    box-sizing: border-box;
    background-color: white;
    margin: 30px 30px 30px 0;
}

.bullet .el-button {
    /* margin: 15px;
    width: 169px;
    height: 40px; */
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
}