
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>provide 和 inject</title>
  <style>
    .box {padding: 10px; margin: 10px; border: 1px solid #ddd;}
  </style>
</head>
<body>
  <div id="app">
    <div class="box">
      <h2>父级</h2>
      <div>
        <button @click="goHome">呼叫</button>
        <p v-if="reply">收到信息：{{reply}}</p >
      </div>
      <Child v-for="child in children"
        :name="child.name"
        :msg="call"
      >
        <Child v-if="child.toys && child.toys.length"
          v-for="toy in child.toys"
          :name="toy.name"
          :msg="call"
        ></Child>
      </Child>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script>
    Vue.component('child', {
      // 1. 普通传递
      // inject: ['sendToParent'],

      // 2. 设置别名（防止重名）
      inject: {
        send: {
          from: 'sendToParent'
        }
      },
      props: ['name', 'msg'],
      template: `
        <div class="box">
          <h3>{{name}}</h3>
          <div v-if="msg">
            收到信息：{{msg}}
            <button @click="reply">回复爸爸</button>
          </div>
          <slot></slot>
        </div>
      `,
      methods: {
        reply() {
          // this.sendToParent(`${this.name}知道了，我马上回来`)
          this.send(`${this.name}知道了，我马上回来`)
        }
      }
    });

    new Vue({
      el: '#app',
      provide() {
        return {
          sendToParent: this.receive
        }
      },
      data: {
        call: '',
        reply: '',
        children: [
          {
            name: '大宝'
          }, {
            name: '二宝',
            toys: [
              { name: '擎天柱' },
              { name: '钢铁侠' }
            ]
          }, {
            name: '三宝',
            toys: [
              { name: '芭比娃娃' }
            ]
          }
        ]
      },
      methods: {
        goHome() {
          this.call = '孩儿们，爸爸喊你们回家吃饭了';
        },
        receive(msg) {
          this.reply = msg
        }
      }
    });
  </script>
</body>
</html>
